body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #070f4e;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Ffit-pro.com%2Farticle-4612-Looking-Ahead-to-2021.html&psig=AOvVaw1DQj-rc1ZzMXF2VEeC-pnX&ust=1637095600090000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCIiijMCem_QCFQAAAAAdAAAAABAD);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
